@page "{PageNumber:int}"
@using BoardGameBrawl.Identity.DTOs
@model ManageUsersModel
@{
    ViewData["Title"] = "List of app users";
    ViewData["ActivePage"] = AdminWorkflowsPages.ManageUsers;
}

<h3>@ViewData["Title"]</h3>
<div class="container">
    <div class="row">
        <div class="p-3">
            <form method="post">
                <div class="form-row">
                    UserName: <input asp-for="Filter" class="form-control" placeholder="" />
                    <div class="col-auto">
                        <button class="btn btn-secondary">Filter</button>
                    </div>
                </div>
            </form>
            <br />
            <table class="table table-sm table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>UserName:</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Users.Count() == 0)
                    {
                        <tr><td colspan="2">No matches</td></tr>
                    }
                    else
                    {
                        @foreach (ViewUserDTO user in Model.Users)
                        {
                            <tr>
                                <td><strong>@user.UserName</strong></td>
                                <td><a class="btn btn-primary btn-block w-100" asp-page="ViewUser" asp-route-PageNumber="@Model.PageNumber" asp-route-id="@user.Id"> View </a></td>
                                <td><a class="btn btn-warning btn-block w-100" asp-page="EditUser" asp-route-id="@user.Id"> Edit </a></td>
                                <td><a class="btn btn-danger btn-block w-100" asp-page="DeleteUser" asp-route-id="@user.Id"> Delete </a></td>
                                <td><a class="btn btn-secondary btn-block w-100" asp-page="ChangeUserRoles" asp-route-id="@user.Id"> Roles </a></td>
                                <td><a class="btn btn-secondary btn-block w-100" asp-page="ChangeUserClaims" asp-route-id="@user.Id"> Claims </a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (Model.PageNumber == 1 && Model.TotalUsersNumber < Model.PageSize)
            {
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
            }
            else if (Model.PageNumber == 1 && Model.TotalUsersNumber >= Model.PageSize)
            {
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.NextNumber"> @Model.NextNumber </a>
            }
            else if ((Model.TotalUsersNumber - Model.PageNumber * Model.PageSize) >= Model.PageSize)
            {
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PreviousNumber"> @Model.PreviousNumber </a>
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.NextNumber"> @Model.NextNumber </a>
            }
            else
            {
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PreviousNumber"> @Model.PreviousNumber </a>
                <a asp-page="ManageUsers" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
            }
        </div>
    </div>
</div>