@page "{PageNumber:int}"
@using BoardGameBrawl.Application.DTOs.Entities.Identity_Related
@model PasswordsModel

@{
    ViewData["Title"] = "Manage passwords of app users";
    ViewData["ActivePage"] = AdminWorkflowsPages.Passwords;
}

<div class="container">
    <div class="row">
        <div class="col p-3">
            <h3>@ViewData["Title"]</h3>
            <br />
            <form method="post">
                <div class="d-flex flex-row align-content-center align-items-center justify-content-center">
                    UserName:
                    <input asp-for="Filter" class="form-control" placeholder="" />
                    <button class="btn btn-secondary">Filter</button>
                </div>
            </form>
            <br />
            <table class="table table-sm table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>UserName:</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Users.Count() == 0)
                    {
                        <tr>
                            <td>No matches</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (ViewUserDTO user in Model.Users)
                        {
                            <tr>
                                <td><strong> @user.UserName </strong></td>
                                <td><a class="btn btn-primary btn-block w-50" asp-page="ChangeUserPassword" asp-route-id="@user.Id"> Change Password </a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <br />
            @if (Model.PageNumber == 1 && Model.TotalUsersNumber < Model.PageSize)
            {
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
            }
            else if (Model.PageNumber == 1 && Model.TotalUsersNumber >= Model.PageSize)
            {
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter"  asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.NextNumber"> @Model.NextNumber </a>
            }
            else if ((Model.TotalUsersNumber - Model.PageNumber * Model.PageSize) >= Model.PageSize)
            {
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PreviousNumber"> @Model.PreviousNumber </a>
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.NextNumber"> @Model.NextNumber </a>
            }
            else
            {
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PreviousNumber"> @Model.PreviousNumber </a>
            <a asp-page="Passwords" asp-route-Filter="@Model.Filter" asp-route-PageNumber="@Model.PageNumber"> @Model.PageNumber </a>
            }
        </div>
    </div>
</div>



